.tab-item {
  color: white;
  margin-right: 15px;
  list-style-type: none;
  font-size: 24px;
  cursor: pointer;
}
.active-tab-item {
  color: #fec653;
  margin-right: 15px;
  list-style-type: none;
  font-size: 24px;
  cursor: pointer;
  text-underline-position: below;
}
.line {
  color: #fec653;
  height: 1px;
}
